namespace: alloy

helmCharts:
  - repo: https://grafana.github.io/helm-charts
    name: alloy
    version: "1.5.3"
    includeCRDs: true
    namespace: alloy
    releaseName: alloy
    valuesFile: values.yaml

  - repo: https://grafana.github.io/helm-charts
    name: alloy
    version: "1.5.3"
    includeCRDs: true
    namespace: alloy
    releaseName: alloy-ds
    valuesFile: values-ds.yaml

generators:
  - ksops.yaml
