mode: single # single or dev-and-prod
number: 1
image: ghcr.io/traptitech/ns-dashboard:preview-1-abc123
port: 80

tls:
  secretName: preview-ns-tls
host:
  base: ns-preview.trapti.tech

backend:
  matcher: PathPrefix(`/neoshowcase.protobuf.APIService`)
  service:
    kind: Service
    # namespace: ns-system
    # name: ns-gateway
    # port: http
    # scheme: h2c
    # strategy: RoundRobin
    # weight: 1
