apiVersion: apps/v1
kind: Deployment
metadata:
  name: switchbot-exporter

spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: switchbot-exporter
  template:
    metadata:
      labels:
        app: switchbot-exporter
    spec:
      enableServiceLinks: false
      containers:
        - name: switchbot-exporter
          image: ghcr.io/motoki317/switchbot_exporter:main@sha256:c00e935b6c1a7e8d5ed380bbb0bb9494deebcec9e14efffb83ba6493d8ae0639
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 9257
          args:
            - -port=9257
            - -token=$(TOKEN)
            - -secret=$(SECRET)
          env:
            - name: TOKEN
              valueFrom:
                secretKeyRef:
                  name: switchbot-exporter
                  key: token
            - name: SECRET
              valueFrom:
                secretKeyRef:
                  name: switchbot-exporter
                  key: secret
