apiVersion: apps/v1
kind: Deployment
metadata:
  name: switchbot-exporter

spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: switchbot-exporter
  template:
    metadata:
      labels:
        app: switchbot-exporter
    spec:
      enableServiceLinks: false
      containers:
        - name: switchbot-exporter
          image: ghcr.io/motoki317/switchbot_exporter:main@sha256:b572726c9a4c56aab4ce4fa6e5a70c28f8498fee91e24e6b3cfeef8ac68b35af
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 9257
          args:
            - -port=9257
            - -token=$(TOKEN)
            - -secret=$(SECRET)
          env:
            - name: TOKEN
              valueFrom:
                secretKeyRef:
                  name: switchbot-exporter
                  key: token
            - name: SECRET
              valueFrom:
                secretKeyRef:
                  name: switchbot-exporter
                  key: secret
