resources:
- certificate.yaml
- ingress-route.yaml
- service.yaml
- ss-deployment.yaml
- ss-service.yaml
- stateful-set.yaml

images:
- name: nextcloud
  newName: nextcloud
  newTag: 32.0.3

generators:
- ksops.yaml

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
