helmCharts:
  - repo: oci://ghcr.io/argoproj/argo-helm
    name: argo-cd
    version: "9.4.5"
    includeCRDs: true
    namespace: argocd
    releaseName: argocd
    valuesFile: values.yaml

resources:
  - appset-certificate.yaml
  - appset-ingress-route.yaml
  - certificate.yaml
  - ingress-route.yaml
  - repo-server-cr.yaml

configMapGenerator:
  - name: helm-replace
    namespace: argocd
    files:
      - config/helm

generators:
  - ksops.yaml
