helmCharts:
  # Add ServiceMonitor CRD which is widely used in community charts
  - repo: https://prometheus-community.github.io/helm-charts
    name: prometheus-operator-crds
    version: "25.0.1"
    includeCRDs: true
    namespace: monitor
    releaseName: crds
    valuesInline: {}

  - repo: https://grafana.github.io/helm-charts
    name: grafana
    version: "10.4.2"
    includeCRDs: true
    namespace: monitor
    releaseName: grafana
    valuesFile: values-grafana.yaml

  - repo: https://victoriametrics.github.io/helm-charts/
    name: victoria-metrics-k8s-stack
    version: "0.66.1"
    includeCRDs: true
    namespace: monitor
    releaseName: vms
    valuesFile: values-vms.yaml

resources:
  - ../.common/grafana-dashboards
  - ../.common/grafana-dashboards-misc
  - blackbox-exporter
  - domain-exporter
  - probes
  - rules
  - s3-exporter
  - ssl-exporter
  - switchbot-exporter
  - traq-webhook-converter
  - vm-archive
  - certificate.yaml
  - ingress-route.yaml
