helmCharts:
  - repo: https://argoproj.github.io/argo-helm
    name: argo-workflows
    # renovate:general datasource=helm depName=argo-workflows registryUrl=https://argoproj.github.io/argo-helm
    version: "0.47.4"
    includeCRDs: true
    namespace: argo
    releaseName: argo
    valuesFile: values.yaml

resources:
  - certificate.yaml
  - ingress-route.yaml
  - test-fail-workflow-template.yaml
  # - test-success-cron-workflow.yaml
  - test-success-workflow-template.yaml
  - traq-webhook-workflow-template.yaml
