name: Validate

on:
  # Validate on push for Renovate auto merge without PR
  push:
    branches:
      - 'main'
      - 'renovate/**'
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    # Exclude duplicate execution for PRs from renovate branches
    if: ${{ !(github.event_name == 'pull_request' && startsWith(github.event.pull_request.head.ref, 'renovate/')) }}
    steps:
      - uses: actions/checkout@v6

      # https://stackoverflow.com/a/73596568
      - name: Setup to skip ksops decryption
        run: sudo ln -s /bin/true /usr/local/bin/ksops
#      - name: Prepare ksops-dry-run
#        run: |
#          curl -LOf https://github.com/motoki317/ksops-dry-run/releases/download/v0.3.1/ksops-dry-run-linux-amd64.tar.gz
#          tar -zxvf ksops-dry-run-linux-amd64.tar.gz ksops-dry-run
#          sudo install ksops-dry-run /usr/local/bin/ksops
#          rm ksops-dry-run-linux-amd64.tar.gz

      - name: Cache CRDs
        id: crd
        uses: actions/cache@v4
        with:
          path: .crd
          key: crd-${{ hashFiles('.scripts/setup-crd.sh') }}
      - name: Prepare CRDs
        if: steps.crd.outputs.cache-hit != 'true'
        run: .scripts/setup-crd.sh

      - name: Install kubeconform
        run: |
          # renovate:github-url
          wget https://github.com/yannh/kubeconform/releases/download/v0.7.0/kubeconform-linux-amd64.tar.gz
          tar -zxvf kubeconform-linux-amd64.tar.gz kubeconform
          sudo install kubeconform /usr/local/bin && rm kubeconform kubeconform-linux-amd64.tar.gz

      - name: Build and validate
        run: |
          for DIR in ./*/; do
            echo "Validating $DIR"
            .scripts/build.sh "$DIR" | .scripts/check.sh
          done
